<div class="form-group msg-form">
  <%= form_with(model: [@single_room, @message], class: "d-flex",
                data: { controller: "chat_refresh",
                        action: "turbo:submit-end->chat_refresh#clearInput" }) do |f| %>
    <%= f.text_field :content, id: 'chat-text', class: "form-control msg-content", autocomplete: 'off' %>
    <%= f.submit data: { disable_with: false}, class: "btn btn-primary" %>
  <% end %>
</div>